<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>플레이트쉐어</title>

    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/intro.css">
    <link rel="stylesheet" type="text/css" href="../static/css/introduce.css">
    <link rel="stylesheet" type="text/css" href="../static/css/buyingWith.css">

<style>
</style>


</head>
<body>
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>