<div class="footerWrap">
    <div class="footer-top">
    </div>
    <div class="footer">
        <div class="footer-info">
            <p>경기도&nbsp;수원시&nbsp;영통구&nbsp;원천동&nbsp;아주대캠퍼스플라자스포츠센터&nbsp;506호&nbsp;&nbsp;l&nbsp;김민수&nbsp;배꽃그리고솔&nbsp;신현호</p>
            <p>All&nbsp;rights&nbsp;reserved&nbsp;by&nbsp;원천동밸리&nbsp;&nbsp;l&nbsp;&nbsp;
                <a href="https://www.facebook.com/WCDvalley" target="_blank" class="all-link">www.facebook.com/WCDvalley</a></p>
        </div>
        <div class="footer-contact">
            <div class="footer-contact-1">
                제휴&nbsp;및&nbsp;문의하기
            </div>
            <div class="footer-contact-2">
                <a href="http://www.wcdvalley.com/" target="_blank" class="all-link">원천동밸리</a>
            </div>
        </div>
    </div>
</div>