<div class="navbarWrap">
    <div class="navbar-top">
    </div>
    <div class="navbar-content">
        <div class="navbar-logo">
            로고
        </div>
        <div class="navbar-name">
            플레이트쉐어
        </div>
        <div class="navbar-menuWrap">
            <div class="navbar-menu">
                <div class="navbar-menu-1">
                    소개
                </div>
                <div class="navbar-menu-2">
                    같이사기
                </div>
                <div class="navbar-menu-3">
                    주고받기
                </div>
            </div>
        </div>
        <div class="navbar-user">
            <div class="navbar-user-1">
                로그인
            </div>
            <div class="navbar-user-2">
                회원가입
            </div>
        </div>
    </div>
    <div class="navbar-bottom">
    </div>
</div>