{% extends "layout.html" %}

{% block content %}

    <!-- intro start -->
    <div class="intro-Wrap">
        <div class="intro-image">인트로 이미지
        </div>
        <div class="intro-contentWrap">
            <div class="intro-content1">
                <div class="intro-content-title">
                    플레이트&nbsp;쉐어란?
                </div>
                <div class="intro-content-line">
                </div>
                <div class="intro-content-content">
                    가나다라마바사
                </div>
            </div>
            <div class="intro-content2">
                <div class="intro-content-title">
                    만들게&nbsp;된&nbsp;이유
                </div>
                <div class="intro-content-line">
                </div>
                <div class="intro-content-content">
                    아자차카타파하
                </div>
            </div>
            <div class="intro-content3">
                <div class="intro-content-title">
                    만든&nbsp;사람들
                </div>
                <div class="intro-content-line">
                </div>
                <div class="intro-content-content">
                    어허~으흐~
                </div>
            </div>
        </div>
    </div>

<!-- intro end -->
{% endblock %}