<div class="introduceWrap">
    <div class="introduce-leftbarWrap">
        <div class="introduce-leftbar">
            <div class="introduce-leftbar-title">
                플레이트쉐어&nbsp;소개
            </div>
            <div class="introduce-leftbar-line">
            </div>
            <div class="introduce-leftbar-subtitle">
                서비스&nbsp;개요&nbsp;및&nbsp;소개
            </div>
            <div class="introduce-leftbar-subtitle">
                서비스&nbsp;이용방법
            </div>
            <div class="introduce-leftbar-subtitle">
                만든&nbsp;사람들
            </div>
            <div class="introduce-leftbar-subtitle">
                만든&nbsp;이유
            </div>
            <div class="introduce-leftbar-subtitle">
                찾아오시는&nbsp;길
            </div>
            <div class="introduce-leftbar-subtitle">
                제휴&nbsp;및&nbsp;문의하기
            </div>
        </div>
    </div>
    <div class="introduce-content">
    </div>
</div>

