<div class="menu2-leftbarWrap">
    <div> <!-- leftbar filter start -->
        <table class="menu2-leftbar-filterWrap">
            <tr>
                <td colspan="2" class="menu2-leftbar-filter-all">
                    전체보기
                </td>
            </tr>
            <tr>
                <td class="menu2-leftbar-filter" id="wooman">우만동</td>
                <td class="menu2-leftbar-filter" id="woncheon">원천동</td>
            </tr>
            <tr>
                <td class="menu2-leftbar-filter" id="maetan">매탄동</td>
                <td class="menu2-leftbar-filter" id="dorm">기숙사</td>
            </tr>
        </table>
    </div> <!-- leftbar filter end -->
    <div class="menu2-adWrap"> <!-- leftbar ad start -->
        <div class="menu2-ad">
            <div class="menu2-ad-title">
                원천동&nbsp;농민마트
            </div>
            <div class="menu2-ad-content">
                <p>영업시간&nbsp;:&nbsp;10'00&nbsp;-&nbsp;20'00</p>
                <p>특징&nbsp;:&nbsp;3만원&nbsp;이상&nbsp;주문&nbsp;시&nbsp;무료배송</p>
            </div>
            <div class="menu2-ad-event">
                <p>발렌타인데이&nbsp;기념&nbsp;초콜렛&nbsp;할인행사&nbsp;중&nbsp;!</p>
            </div>
            <div class="menu2-ad-btn">
                <button type="button" class="btn btn-default">위치</button>
                <button type="button" class="btn btn-default" id="menu2-ad-btn2">상세정보</button>
            </div>
        </div>
    </div> <!-- leftbar ad end -->
</div>